body {
    background-color: dodgerblue;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Piedra', cursive;
    ;
}